vendor/
.env
node_modules/
bin/*
!bin/after-npm
logs/*
!logs/.gitkeep

#cache
cache/compiled/*
!cache/compiled/.gitkeep
cache/data/*
!cache/data/.gitkeep

config/config.phpconfig/config.php
config/config.php
