DATABASE_URL="mysql://root:password@localhost:3306/phalcon_puff_db"
SESSION_URL="redis://h:password@localhost:6379"
MODELS_CACHE_URL="redis://h:password@localhost:6379"
CACHE_URL="redis://h:password@localhost:6379"
